.choose {
  &__label {
    margin: 4% 0;
    text-align: center;
  }
  
  .genres {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr));
    margin-top: 20px;

    .genre {
      height: auto;
      width: 288px;
      margin: 5px;
      border: 1px solid black;
      border-radius: 10px;

      &--label {
        background-color: $skin;
        text-align: center;
        font-family: cursive;
      }

      &--image {
        height: 250px;
        width: 100%;
        display: inline-block;
        border-radius: 10px;
      }
    }
  }
}