.grid{
  margin-top: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr));

  .card {
    width: 288px;
    height: auto;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;

    &__image {
      height: 250px;
      width: 100%;
      display: inline-block;
      border-radius: 10px;
    }

    &__title {
      height: 120px;
      margin-bottom: 5px;
      text-align: center;
      line-height: 125%;
      font-size: 20px;
      font-weight: bold;
    }

    &__info {
      margin-right: 5px;
      text-align: end;
      opacity: 0.7;

      &__name {
        margin-block-end: none;
      }
    }

    .card__link {
      padding: 20px;
      text-align: center;
      color: $dark-red;
      border-top: 1px solid #eee;
    }
  }
}


