.articles {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20px;

  .article {
    width: 288px;
    height: auto;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;

    &__image {
      height: 250px;
      width: 100%;
      display: inline-block;
      border-radius: 10px;
    }

    &__title {
      height: 200px;
      margin-bottom: 5px;
      text-align: center;
      line-height: 125%;
      font-size: 20px;
      font-weight: bold;
    }

    &__date {
      text-align: end;
      margin-right: 3px;
      text-align: end;
      opacity: 0.5;
    }
    
    .article__link {
      display: block;
      text-align: center;
      border-top: 1px solid #eee;
    }
  }
}


