.pagination {
  margin: 20px 0;
  text-align: center;

  a {
    text-decoration: none;
    background-color: $light-green;

    &:hover {
      opacity: 1;
      background-color: $dark-red;
    }
  }

  * {
    margin: 0 7px;
    color: white;
    padding: 7px 10px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    border-radius: 25px;
  }

  .disabled {
    color: #666666;
    padding: 11px 17px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #666666;
    border-radius: 23px;
  }

  .current {
    background: $dark-red;
    color: white;
    opacity: 0.7;
    border-radius: 22.5px;
  }
}

