.pagination {
  margin: auto;
  margin: 20px 0;
  text-align: center;

  a {
    text-decoration: none;
    background-color: $light-green;;
    &:hover {
      opacity: 1;
      background-color: $dark-red;

    }
  }

  * {
    color: white;
    margin: 0 7px;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
  }
  .disabled {
    color: #666666;
    padding: 11px 17px;
    border: 1px solid #666666;
    border-radius: 23px;
    font-family: 'Nunito', sans-serif;
  }
}

.current {
  font-style: normal;
  color: white;
  background: $dark-red;
  border-radius: 22.5px;
  font-family: 'Nunito', sans-serif;
  opacity: 0.7;
}
