@media screen and (min-width:781px){
  header {
    height: 200px;
    padding: 20px 10px 3px;
    background-image: url("header-top");    
    background-size: cover;
    background-position: right 10% bottom 37%;
    border-bottom: 3px solid $dark-brown;

    .nav {
      text-align: end;

      &__link {
        display: inline-block;
        padding: 10px;
        border: 1px dashed black;
        border-radius: 30px;
        color: white;
        text-decoration: none;

        &:hover {
          background-color: $dark-red;
          opacity: 1;
        }
        &:active {
          opacity: 0.3;
        }
      }
    }

    .top {
      margin-top: 20px;

      &__title {
        position: relative;
        font-family: cursive;
        font-size: 6vw;
        color: red;
        font-style: italic;
        text-decoration: none;
        filter: drop-shadow(-4px -1px white);

        &--muted {
          position: absolute;
          right: 0;
          font-size: 3vw;
          font-family: serif;
        }
      }
    }
  }
}







