@media screen and (min-width:781px){
  header {
    height: 250px;
    background-image: url("header-top");    
    background-size: cover;
    background-position: right 10% bottom 37%;
    padding: 20px 10px 3px;
    position: relative;
    border-bottom: 3px solid $dark-brown;

    .nav {
      text-align: end;

      &__link {
        background-color: $dark-red;
        display: inline-block;
        padding: 10px;
        color: white;
        text-decoration: none;
        opacity: 0.5;
        border: 1px dashed black;
        border-radius: 30px;

        &:hover {
          opacity: 1;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }

    .top {
      margin-top: 5px;

      &__title {
        position: relative;
        filter: drop-shadow(-4px -1px white);
        text-decoration: none;
        color: red;
        font-family: cursive;
        font-style: italic;
        font-size: 6vw;

        &--muted {
          position: absolute;
          bottom: -15px;
          right: 0;
          font-size: 3vw;
          font-family: serif;
        }
      }
    }

    .user-name {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 3%;
      filter: drop-shadow(2px 1px white);
      text-align: end;
      color: $dark-red;
      font-size: 2rem;
    }
  }
}







