.article {
  margin: 10px 15%;
  
  &__user {
    text-align: end;

    &--link {
      text-decoration: none;
    }
  }

  &__image {
    border: 2px solid #ffffff79;

    &--photo {
      height: 500px;
      width: 100%;
    }
  }

  &__info {
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &__edit {
    margin-right: 3%;
    text-align: end;

    &--link {
      margin-top: 10px;
      background-color: $dark-red;
      display: inline-block;
      text-align: right;
      padding: 10px 30px;
      color: #fff;
      opacity: 0.8;
      text-decoration: none;
      border-radius: 2px;
    }
  }

  &__text{
    text-align: center;
    
    &__title {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }

  }


}



