@media screen and (max-width:480px){
  header {
    height: 125px;
    background-image: url("header-top");    
    background-size: cover;
    background-position: right 10% bottom 51%;
    padding: 14px 10px 3px;
    border-bottom: 3px solid $dark-brown;

    .nav {
      text-align: end;

      &__link {
        background-color: $dark-red;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        font-size: 0.8rem;
        color: white;
        opacity: 0.5;
        border: 1px dashed black;
        border-radius: 30px;

        &:hover {
          background-color: $dark-red;
          opacity: 1;   
        }

        &:active {
          opacity: 0.4;
        }
      }
    }

    .top {
      margin-top: 50px;

      &__title {
        position: relative;
        filter: drop-shadow(-2px -1px white);
        text-decoration: none;
        font-family: cursive;
        font-size: 6vw;
        color: red;
        font-style: italic;
        
        &--muted {
          position: absolute;
          right: 0;
          font-family: serif;
          font-size: 3vw;
        }
      }
    }
  }
}