<div class="genre">
  <div class="genre__category">
    投稿一覧
  </div>
</div>
<p class="posts_count">
  投稿記事数：<%= @posts.length %>
</p>



<%= render partial: "shared/post", locals: { posts: @posts }%>


