<div class="comments__label">
  コメント
</div>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="comment__text">
        <%= comment.text %>
      </p>
      <div class="comment__info">
        <p class="comment__info__user-name">
          <%= comment.user.name %>
          さん
        </p>
        <p class="comment__info__date">
          <%= comment.created_at.to_s(:datetime) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
