<div class="genre">
  <%- tags.each do |tag| %>
    <%= link_to_unless_current "#{tag.name}", tag_path(tag), class: "genre__categories image"   %>
  <% end%>

  <%= link_to_unless_current "@news", articles_path, class: "genre__categories label" %>
</div>