@media only screen and (min-width: 481px) and (max-width: 780px){
  header {
    height: 130px;
    background-image: url("header-top");    
    background-size: cover;
    background-position: right 10% bottom 44%;
    border-bottom: 3px solid $dark-brown;
    padding: 10px 5px 0;

    .nav {
      text-align: end;

      &__link {
        background-color: $dark-red;
        display: inline-block;
        padding: 4px;
        text-decoration: none;
        color: white;
        font-size: 5px;
        opacity: 0.5;
        border: 1px dashed black;
        border-radius: 30px;

        &:hover {
          background-color: $dark-red;
          opacity: 1;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }

    .top {
      &__title {
        position: relative;
        filter: drop-shadow(-2px -1px white);
        text-decoration: none;
        font-family: cursive;
        font-style: italic;
        font-size: 6vw;
        color: red;
        
        &--muted {
          position: absolute;
          right: 0;
          font-size: 3vw;
          font-family: serif;
        }
      }
    }
  } 
}