  <div class="comment__label">
    コメント
  </div>
  <% @comments.each do |comment| %>
    <p class="comment__text">
      <%= comment.text %>
    </p>
    <p class="comment__date">
      <%= comment.created_at.to_s(:datetime) %>
    </p>
  <% end %>