<%= link_to "投稿", new_post_path %>



<%- @posts.each do |post| %>
  <p class="aaa">
    <%= post.title %>
  </p>
  <p>
    <%= post.content %>
  </p>
  <%= link_to "詳細", post_path(post) %>
<% end %>

