<div class="genre">
  <%- @tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag), class: "genre__categories"  %>
  <% end%>
  <%= link_to "@news", articles_path, class: "genre__categories" %>
</div>

<%= render partial: "post", locals: { posts: @posts }%>
